body {
	background-color:lightgray;
	border:3px aqua solid;
	margin:25px;
	padding:20px
}
h1 {
	color: tomato;
	background-color:lightgray;
}
h2 {
	color: violet;
	text-align: center;
}
p1 {
	color:yellow;
}